.circle {
    width:250px;
    height:250px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    
    
}
.active{
    background-image: url(../assets/mosquito@2x.png);
    background-size: cover;
    
}