.overlay {
    background-color: rgba(248, 244, 244, 0.313);
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background-color: lightgoldenrodyellow;
    height: 200px;
    width: 350px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .closeModal {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .modal h2 {
    font-size: 2rem;
  }

  .modal p{
    font-size: 2rem;
    word-spacing: 0.5em;
  }